*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    width: 100%;
    height: 820px;
    flex-shrink: 0;
    background: url(https://s3-alpha-sig.figma.com/img/64a1/5a4c/22a0adf36ee5a68b3f5e2d176e578c0c?Expires=1703462400&Signature=QD6qGPLYQvyXS6NKslvXmaEFfYclyB9s18sGLHyHEPs1jBtINdz3vwFCSvo~hjF4P8Omtf0t66jiCKKzktwcNSGFlwZjDolwOPRswLvaLahgto1PjxdnW-1aU7em7t7Cv~hjmDjxTBB5MnGcXreYtIBfO0mrGrebvsXk24uGpdzOutfg0nu0MkAHknooc459m-LyxOFdrDXYbnGalLKB446FLuXiwiNHZ1w7jp1sashkoKHAc~cIEhDU~Sv97rq6H~Ujr0kXma8uDvwZr62rueQJrWl~SOPbkeqBZi2C5jwQnWMtjinOB~gDHYX-w9kRK8nCgjOpibVG9XxJE533mg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4), lightgray -13.607px 0px / 141.79% 100% no-repeat;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.backbutton{
    display: flex;
    width: 210px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 20px;
    opacity: 0.45;
    background-color: rgb(255, 255, 255);
}
.button{
    display: flex;
    width: 190px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 17px;
    background-color:#5CCD6A;
    margin-top: 11px; 
    margin-left: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
}
a{
    color: #495E4C;
    font-family: Proxima Nova;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}
.maintext{
    color: #495E4C;
    font-family: Ruberoid;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    text-transform: capitalize;
}
